
body {
  line-height: 1.2;
  letter-spacing: -.3px;
  -webkit-font-smoothing: antialiased;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #FFCE00;
  --color-blue: #3749C5;
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* common */

.inner {
  width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 40px;
}

.desc {
  text-align: center;
  font-size: 24px;
}

/* header */

header {
  height: 72px;
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo {
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

header .logo img {
  height: 100%;
}

header .menu {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .menu li{
  float: left;
}

header .apply-btn a{
  width: 120px;
  background-color: var(--color-yellow);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
  display: inline-block;
  width: 116px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
}

header .menu-btn,
header .close-btn {
  display: none;
}

/* section 1 */

.section-1 {
  background-color: #101F41;
  color: var(--color-white);
}

.section-1 .inner {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-1 .kdc-logo {
  background: url('./images/logo_kdc.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 349px;
  height: 34px;
  margin: 0 auto;

}

.section-1 .sub-title {
  color: var(--color-yellow);
  text-align: center;
  font-size: 20px;
  margin-top: 48px;
}

.section-1 .title {
  font-size: 84px;
  margin-top: 32px;
}

.section-1 .hashtag {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

.section-1 .hashtag > h4 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 12px 16px;
  text-align: center;
}

.section-1 .btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.section-1 .apply-btn{
  padding: 12px 24px;
  background-color: var(--color-yellow);
  border-radius: 100px;
  color: #000;
  text-align: center;
}

.section-1 .hero-img {
  background: url('./images/kdcLandingHeroImg_web.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

/* section 2 */

.section-2 {
  background-color: #3c3c43;
  width: 100%;
}

.section-2 .time {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
}

.section-2 .time .generation {
  font-size: 30px;
  color: var(--color-white);
}

.section-2 .time ul {
  display: flex;
  gap: 16px;
}

.section-2 .time ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-2 .time ul .back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--color-blue);
  width: 80px;
  height: 56px;
  margin-right: 8px;
}

.section-2 .time ul li{
  font-size: 30px;
  font-weight: var(--font-bold);
  color: var(--color-white);
  font-family: "NanumSquareNeo";
}

/* section 3 */

.section-3 {
  background-color: #191919;
  color: var(--color-white);
}

.section-3 .inner {
  padding: 160px 24px;
}

.section-3 .desc {
  margin-top: 48px;
}

.section-3 .area-1 .img {
  background: url('./images/kdcLandingArticle_web.png') no-repeat;
  background-position: center;
  background-size: contain;
  width: 1200px;
  height: 956px;
  margin: 120px auto 240px;
}

.section-3 .area-2 .ex-contents {
  display: flex;
  gap: 24px;
  margin-top: 80px;
}

.section-3 .ex-contents .ex-content {
  background-color: var(--color-white);
  border-radius: 10px;
  width: 100%;
}

.section-3 .ex-contents .content-wrap {
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
}

.section-3 .ex-contents .content-desc {
  font-size: 18px;
  color: var(--color-black);
  word-break: keep-all;
  margin-bottom: 32px;
}

.section-3 .ex-contents .content-job {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--color-blue);
  margin-bottom: 16px;

}

.section-3 .ex-contents .content-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-left: auto;
}

.section-3 .ex-contents .content-img.p1 {
  background: url('./images/kdcLanding_P1.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-3 .ex-contents .content-img.p2 {
  background: url('./images/kdcLanding_P2.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-3 .ex-contents .content-img.p3 {
  background: url('./images/kdcLanding_P3.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-3 .ex-contents .content-img.p4 {
  background: url('./images/kdcLanding_P4.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-4 {
  background-color: var(--color-white);
  color: var(--color-black);
}

.section-4 .inner {
  padding: 120px 24px;
}

.section-4 .badge {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
}

.section-4 .badge::after {
  content: "";
  display: block;
  width: 20%;
  height: 12px;
  background-color: rgba(55, 73, 197, .2);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: -1;
}

.section-4 .title {
  margin-bottom: 40px;
}

.section-4 .vod {
  width: 588px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 80px auto;
}

.section-4 .vod iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.section-4 .recruitment {
  margin: 0 auto;
  background-color: #f5f8ff;
  border-radius: 16px;
  font-size: 18px;
  width: 588px;
}

.section-4 .recruitment ul {
  padding: 24px;
}

.section-4 .recruitment > ul > li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}

.section-4 .recruitment > ul > li:last-child {
  padding-bottom: 0;
}

.section-4 .recruitment > ul > li > .course-period {
  display: none;
}

/* section 5 */

.section-5 {
  position: relative;
}

.section-5 .left-img {
  background: url('./images/kdcFigureLeft_Web.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 488px;
}

.section-5 .right-img {
  background: url('./images/kdcFigureRight_Web.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 488px;
}

.section-5 .inner {
  padding: 80px 24px;
  height: 488px;
  text-align: center;
}

.section-5 .title {
  margin: 48px auto;
}

.section-5 .desc {
  word-break: keep-all;
  margin-bottom: 24px;
}

.section-5 .caption {
  text-align: center;
  font-size: 14px;
}

.section-5 .more-btn {
  margin-top: 40px;
  display: inline-block;
}

.section-6 .inner {
  padding: 120px 24px
}

.section-6 .title {
  margin-bottom: 48px;
}







@media screen and (max-width: 800px) {
  .inner {
    width: 100%;
  }
  
  header .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header .menu {
    display: none;
  }

  header .apply-btn {
    display: none;
  }

  header .menu-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }

  /* section 1 */

  .section-1 .inner {
    padding-top: 40px;
  }
  .section-1 .kdc-logo {
    width: 186px;
    height: 18px;
  }
  
  .section-1 .sub-title {
    font-size: 16px;
    margin-top: 24px;
  }

  .section-1 .title {
    font-size: 48px;
  }

  /* hashtag 처리방법 찾기 */
  
  .section-1 .hashtag > h4 {
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
  }

  .section-1 .btn-wrap {
    margin: 0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .section-1 .hero-img {
    background: url('./images/kdcLandingHeroImg_mobile.png.png') no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: calc(100vw/2);
    margin: 40px auto 80px;
  }

  /* section 2 */
  .section-2 {
    display: none;
  }

  /* section 3 */

  .section-3 .inner {
    padding: 40px 24px;
  }
  .section-3 .title {
    font-size: 22px;
  }
  
  .section-3 .desc {
    margin-top: 24px;
    font-size: 16px;
    word-break: keep-all;
    line-height: 1.25;
  }

  .section-3 .area-1 .img {
    background: url('./images/kdcLandingArticle_mobile.png') no-repeat;
    width: auto;
    height: calc(100vw);
    margin: 24px auto 64px;
  }

  .section-3 .area-2 .ex-contents {
    width: 80%;
    flex-direction: column;
    margin: 40px auto 0;
  }
  
  .section-3 .ex-contents .content-wrap {
    padding: 24px 24px;
  }

  .section-3 .ex-contents .content-job {
    font-size: 18px;
  }
  
  .section-3 .ex-contents .content-desc {
    line-height: 1.25;
    font-size: 16px;
  }
  
  .section-3 .ex-contents .content-img {
    width: 100px;
    height: 100px;
  }

  /* section4 */

  .section-4 .inner {
    padding: 40px 24px;
  }

  .section-4 .badge {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .section-4 .badge::after {
    width: 28%;
    height: 12px;
  }

  .section-4 .title {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .section-4 .desc {
    margin: 0 auto;
    font-size: 16px;
    width: 80%;
    word-break: keep-all;
  }

  .section-4 .vod {
    width: 90%;
    height: calc(88vw/2);
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    margin: 40px auto;
  }

  .section-4 .vod iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .section-4 .recruitment {
    font-size: 16px;
    width: auto;
  }
  
  .section-4 .recruitment ul {
    padding: 24px;
  }
  
  .section-4 .recruitment > ul > li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
  }
  
  .section-4 .recruitment > ul > li:last-child {
    padding-bottom: 0;
  }
  
  .section-4 .recruitment > ul > li > .course-period {
    display: none;
  }

  /* section 5 */

  .section-5 .left-img {
    background: url('./images/kdcFigureLeft_Mobile.png') no-repeat;
    background-size: contain;
    width: 100px;
    height: 216px;
  }
  /* 크기가 다름요 */
  .section-5 .right-img {
    background: url('./images/kdcFigureRight_Mobile.png') no-repeat;
    background-size: contain;
    width: 100px;
    height: 216px;
  }

  .section-5 .inner {
    height: 216px;
    padding: 16px 24px;
  }

  .section-5 .title {
    font-size: 22px;
    margin: 0;
  }

  .section-5 .desc {
    font-size:  16px;
    margin: 0;
  }
}