
body {
  line-height: 1.2;
  letter-spacing: -.3px;
  -webkit-font-smoothing: antialiased;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #FFCE00;
  --color-blue: #3749C5;
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* common */

.inner {
  width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 40px;
}

.desc {
  text-align: center;
  font-size: 24px;
}

/* header */

header {
  height: 72px;
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo {
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

header .logo img {
  height: 100%;
}

header .menu {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .menu li{
  float: left;
}

header .apply-btn a{
  width: 120px;
  background-color: var(--color-yellow);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);
  display: inline-block;
  width: 116px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
}

header .menu-btn,
header .close-btn {
  display: none;
}

/* section 1 */

.section-1 {
  background-color: #101F41;
  color: var(--color-white);
}

.section-1 .inner {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-1 .kdc-logo {
  background: url('./images/logo_kdc.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 349px;
  height: 34px;
  margin: 0 auto;

}

.section-1 .sub-title {
  color: var(--color-yellow);
  text-align: center;
  font-size: 20px;
  margin-top: 48px;
}

.section-1 .title {
  font-size: 84px;
  margin-top: 32px;
}

.section-1 .hashtag {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}

.section-1 .hashtag > h4 {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  padding: 12px 16px;
  text-align: center;
}

.section-1 .btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.section-1 .apply-btn{
  padding: 12px 24px;
  background-color: var(--color-yellow);
  border-radius: 100px;
  color: #000;
  text-align: center;
}

.section-1 .hero-img {
  background: url('./images/kdcLandingHeroImg_web.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}

/* section 2 */

.section-2 {
  background-color: #3c3c43;
  width: 100%;
}

.section-2 .time {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0;
}

.section-2 .time .generation {
  font-size: 30px;
  color: var(--color-white);
}

.section-2 .time ul {
  display: flex;
  gap: 16px;
}

.section-2 .time ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-2 .time ul .back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--color-blue);
  width: 80px;
  height: 56px;
  margin-right: 8px;
}

.section-2 .time ul li{
  font-size: 30px;
  font-weight: var(--font-bold);
  color: var(--color-white);
  font-family: "NanumSquareNeo";
}

/* section 3 */

.section-3 {
  background-color: #191919;
  color: var(--color-white);
}

.section-3 .inner {
  padding: 160px 24px;
}

.section-3 .desc {
  margin-top: 48px;
}

.section-3 .area-1 .img {
  background: url('./images/kdcLandingArticle_web.png') no-repeat;
  background-position: center;
  background-size: contain;
  width: 1200px;
  height: 956px;
  margin: 120px auto 240px;
}

.section-3 .area-2 .ex-contents {
  display: flex;
  gap: 24px;
  margin-top: 80px;
}

.section-3 .ex-contents .ex-content {
  background-color: var(--color-white);
  border-radius: 10px;
  width: 100%;
}

.section-3 .ex-contents .content-wrap {
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
}

.section-3 .ex-contents .content-desc {
  font-size: 18px;
  color: var(--color-black);
  word-break: keep-all;
  margin-bottom: 32px;
}

.section-3 .ex-contents .content-job {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--color-blue);
  margin-bottom: 16px;

}

.section-3 .ex-contents .content-img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-left: auto;
}

.section-3 .ex-contents .content-img.p1 {
  background: url('./images/kdcLanding_P1.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-3 .ex-contents .content-img.p2 {
  background: url('./images/kdcLanding_P2.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-3 .ex-contents .content-img.p3 {
  background: url('./images/kdcLanding_P3.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-3 .ex-contents .content-img.p4 {
  background: url('./images/kdcLanding_P4.png'), radial-gradient(#fff, #eaeaea) no-repeat;
  background-position: center;
  background-size: 100%;
}

.section-4 {
  background-color: var(--color-white);
  color: var(--color-black);
}

.section-4 .inner {
  padding: 120px 24px;
}

.section-4 .badge {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
}

.section-4 .badge::after {
  content: "";
  display: block;
  width: 20%;
  height: 12px;
  background-color: rgba(55, 73, 197, .2);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: -1;
}

.section-4 .title {
  margin-bottom: 40px;
}

.section-4 .vod {
  width: 588px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 80px auto;
}

.section-4 .vod iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.section-4 .recruitment {
  margin: 0 auto;
  background-color: #f5f8ff;
  border-radius: 16px;
  font-size: 18px;
  width: 588px;
}

.section-4 .recruitment ul {
  padding: 24px;
}

.section-4 .recruitment > ul > li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}

.section-4 .recruitment > ul > li:last-child {
  padding-bottom: 0;
}

.section-4 .recruitment > ul > li > .course-period {
  display: none;
}

/* section 5 */

.section-5 {
  position: relative;
}

.section-5 .left-img {
  background: url('./images/kdcFigureLeft_Web.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 488px;
}

.section-5 .right-img {
  background: url('./images/kdcFigureRight_Web.png') no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 488px;
}

.section-5 .inner {
  padding: 80px 24px;
  height: 488px;
  text-align: center;
}

.section-5 .title {
  margin: 48px auto;
}

.section-5 .desc {
  word-break: keep-all;
  margin-bottom: 24px;
}

.section-5 .caption {
  text-align: center;
  font-size: 14px;
}

.section-5 .more-btn {
  margin-top: 40px;
  display: inline-block;
}

/* section 6 */

.section-6 .inner {
  padding: 120px 24px
}

.section-6 .desc {
  margin-top: 48px;
}

.section-6 .curriculum {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.section-6 .curriculum .curri-btn-list {
  display: flex;
  gap: 24px;
  margin-bottom: 64px;
}

.section-6 .curriculum .curri-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 48px;
  border-radius: 41px;
  border: 1px solid #ccc;
  color: var(--color-text-03);
  font-size: 18px;
  cursor: pointer;
}

.section-6 .curriculum .curri-btn.is-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 48px;
  border-radius: 41px;
  border: none;
  box-shadow: 0px 3px 6px #00000029;
  background-color: #2C68FF;
  color: var(--color-white);
  font-size: 18px;
  cursor: pointer;
}

.section-6 .curriculum .curri-detail {
  display: none;
}

.section-6 .curriculum .curri-detail.is-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-6 .curriculum .curri-detail .curri-title {
  font-size: 24px;
  font-weight: var(--font-extrabold);
  margin-bottom: 40px;
  color: #2C68FF;
}

.section-6 .curriculum .curri-detail .week-detail-list {
  display: flex;
  gap: 24px;
  align-items: center;
} 

.section-6 .curriculum .curri-detail .week-detail-list .week-wrap{
  width: 234px;
  height: 304px;
  background-color: #F5F7F9;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
}

.section-6 .curriculum .week-wrap .week-count {
  font-size: 14px;
  border: 1px solid #2C68FF;
  color: #2C68FF;
  border-radius: 18px;
  padding: 6px 0 4px;
  width: 54px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 24px;
}

.section-6 .curriculum .week-wrap > ul {
  font-size: 18px;
  font-weight: var(--font-medium);
  color: var(--color-text-01);
}
.section-6 .curriculum .week-wrap > ul > li {
  margin-bottom: 8px;
}

/* section 7 */

.section-7 {
  background-color: #F5F8FF;
}

.section-7 .inner {
  padding: 160px 24px;
}

.section-7 .project-img {
  background: url('./images/kdcLandingProject_Web.png') no-repeat;
  background-size: contain;
  width: 100%;
  height: 472px;
  margin-top: 80px;
}

.section-7 .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 80px;
}

.section-7 .projects .project-1,
.section-7 .projects .project-2,
.section-7 .projects .project-3 {
  display: flex;
}

.section-7 .projects .left {
  border-radius: 20px 0 0 20px;
  padding: 48px 24px;
  width: 340px;
  box-sizing: border-box;
}

.section-7 .projects .left-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-7 .projects .project-1 .left {
  background-color: #3079B5;
}

.section-7 .projects .project-2 .left {
  background-color: #175091;
}

.section-7 .projects .project-3 .left {
  background-color: #0B3769;
}

.section-7 .projects .left .project-num {
  color: var(--color-white);
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.section-7 .projects .left .project-needs {
  color: #EBEBEB;
  font-size: var(--font-size-body);
  text-align: center;
  margin-bottom: 16px;
}

.section-7 .projects .left .project-name {
  color: var(--color-white);
  font-size: var(--font-size-desc);
  font-weight: var(--font-bold);
  text-align: center;
}

.section-7 .projects .right {
  border-radius: 0 20px 20px 0;
  padding: 24px 0 24px 24px;
  background-color: var(--color-white);
  width: 480px;
  box-sizing: border-box;
}

.section-7 .projects .right .project-desc {
  font-size: 18px;
  color: var(--color-text-01);
  font-weight: var(--font-bold);
  margin-bottom: 24px;
}

.section-7 .projects .right-wrap>div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: var(--font-extrabold);
  color: var(--color-text-02);
  margin-bottom: 24px;
}

.section-7 .project-1 .right-wrap .highlight {
  color: #3079B5;
}

.section-7 .project-2 .right-wrap .highlight {
  color: #175091;
}

.section-7 .project-3 .right-wrap .highlight {
  color: #0B3769;
}

.section-7 .projects .right-wrap .use-case {
  display: flex;
  gap: 12px;
}

.section-7 .projects .right-wrap .use-case li {
  font-size: var(--font-size-caption);
  font-weight: var(--font-bold);
  padding: 8px 12px 6px 12px;
  border-radius: 100px;
}

.section-7 .project-1 .right-wrap .use-case li {
  border: 1px solid #3079B5;
  color: #3079B5;
}

.section-7 .project-2 .right-wrap .use-case li {
  border: 1px solid #175091;
  color: #175091;
}

.section-7 .project-3 .right-wrap .use-case li {
  border: 1px solid #0B3769;
  color: #0B3769;
}


/* Section 8 */

.section-8 {
  background-color: #002141;
}

.section-8 .inner {
  padding: 120px 24px;
}

.section-8 .title {
  color: var(--color-white);
  margin-bottom: 40px;
}

.section-8 .desc {
  text-align: center;
  margin-bottom: 56px;
}

.section-8 figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-8 figure img {
  width: 500px;
}

.section-8 figure .instructor {
  color: var(--color-white);
  font-size: 40px;
  font-weight: var(--font-bold);
  margin-bottom: 24px;
}

.section-8 figure .instructor span {
  padding-left: 8px;
  font-size: 28px;
}

.section-8 figcaption ul li {
  font-size: 16px;
  font-weight: var(--font-medium);
  color: var(--color-gray);
  margin-bottom: 8px;
}

/* section 9 */
.section-9 {
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #E8F3FF 100%) 0% 0% no-repeat;
}

.section-9 .inner {
  padding: 160px 24px;
}

.section-9 .title {
  margin-top: 16px;
}

.section-9 .img {
  background: url('./images/kdcLandingComparing_Web.png') no-repeat;
  background-size: contain;
  background-position: center;
  height: 502px;
  margin-top: 120px;
}

/* section 10 */

.section-10 {
  background-color: #010D30;
}

.section-10 .inner {
  padding: 120px 24px;
}

.section-10 .title {
  color: var(--color-white);
}

.section-10 .recommend-case {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 60px auto 0;
  width: 800px;
}

.section-10 .recommend-case .case-1,
.section-10 .recommend-case .case-3 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.section-10 .recommend-case .case-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
}

.section-10 .recommend-case .character {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  width: 240px;
  height: 220px;
}

.section-10 .case-1 .character {
  background-image: linear-gradient(180deg, rgba(1, 13, 48, 0) 60%, rgba(1, 13, 48, 1) 83%, rgba(1, 13, 48, 1) 100%), url('/images/kdcLandingCaseP1.png');
  transform: scaleX(-1);
}

.section-10 .case-2 .character {
  background-image: linear-gradient(180deg, rgba(1, 13, 48, 0) 60%, rgba(1, 13, 48, 1) 83%, rgba(1, 13, 48, 1) 100%), url('/images/kdcLandingCaseP2.png');
}

.section-10 .case-3 .character {
  background-image: linear-gradient(180deg, rgba(1, 13, 48, 0) 60%, rgba(1, 13, 48, 1) 83%, rgba(1, 13, 48, 1) 100%), url('/images/kdcLandingCaseP3.png');
}

.section-10 .recommend-case .speech {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-size-desc);
  font-weight: var(--font-medium);
  width: 500px;
  height: 120px;
  border-radius: 81px;
}

.section-10 .case-1 .speech {
  background-color: #667FE6;
  text-align: center;
}

.section-10 .case-2 .speech {
  color: var(--color-black);
  background-color: var(--color-white);
  text-align: center;
}

.section-10 .case-3 .speech {
  background-color: #66A6E6;
  text-align: center;
}

/* section 11 */

.section-11 {
  background-color: #EDEDED;
}

.section-11 .inner {
  padding: 120px 24px;
  position: relative;
}

.section-11 .sub-title {
  text-align: center;
  font-size: 24px;
}

.section-11 .title {
  margin-top: 16px;
}

.section-11 .swiper {
  margin-top: 80px;
  width: 100%;
}

.section-11 .swiper .swiper-wrapper {
  display: flex;
}

.section-11 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: var(--color-white);
  width: 588px;
  height: 500px;
  border: 1px solid #D8D8D8;
  border-radius: 20px;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  /* box-shadow: 0px 10px 15px #00000029; */
}

.section-11 .swiper-button-next,
.section-11 .swiper-button-prev {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 58%;
  background-color: #9A9A9A;
  border-radius: 100%;
  color: var(--color-white);
}

.section-11 .swiper-button-next::after,
.section-11 .swiper-button-prev::after {
  display: none;
}

.section-11 .swiper-button-prev {
  left: -80px;
}

.section-11 .swiper-button-next {
  right: -80px;
}

.section-11 .swiper-button-prev > svg,
.section-11 .swiper-button-next > svg {
  width: 32px;
  height: 32px;
}

.section-11 .user {
  display: flex;
  align-items: center;
  gap: 24px;
}

.section-11 .user .user-img-1{
  background-image: url('images/kdcLandingReview1_Web.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 134px;
  height: 134px;
}

.section-11 .user .user-img-2{
  background-image: url('images/kdcLandingReview2_Web.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 134px;
  height: 134px;
}

.section-11 .user .user-img-3{
  background-image: url('images/kdcLandingReview3_Web.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 134px;
  height: 134px;
}

.section-11 .user .user-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-11 .user .user-info .name{
  font-size: 24px;
  font-weight: var(--font-extrabold);
  color: var(--color-text-01);
  margin-bottom: 8px;
}

.section-11 .user .user-info .course{
  font-size: 18px;
  font-weight: var(--font-medium);
  color: var(--color-text-03);
}

.section-11 .swiper-slide .heading {
  font-size: 28px;
  font-weight: var(--font-heavy);
  color: #394DD1;
  text-align: left;
}

.section-11 .swiper-slide .content {
  font-size: 18px;
  font-weight: var(--font-medium);
  color: var(--color-text-02);
  word-break: keep-all;
}

/* section 12 */

.section-12 .inner {
  padding: 120px 24px;
}

.section-12 .title {
  text-align: start;
}

.section-12 .faq-section > h3 {
  font-size: 24px;
  margin-top: 32px;
}

.section-12 .faq-section ul li:first-child {
  margin-top: 24px;
}

.section-12 .section-12-wrap .faq-section:last-child {
  margin-bottom: 0;
}

.section-12 .accordion .accordion-item {
  margin-bottom: 24px;
}

.section-12 .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.section-12 .accordion .acc-btn {
  background-color: transparent;
  border: none;
}

.section-12 .accordion h4 {
  font-size: 18px;
  font-weight: var(--font-extrabold);
  color: var(--color-text-02);
  height: 100%;
}

.section-12 .accordion .acc-btn.active h4 {
  color: var(--color-blue);
}

.section-12 .accordion-item .accordion-panel {
  background-color: #F5F5F5;
  border-radius: 24px;
  display: none;
  overflow: hidden;
  margin-left: 16px;
  margin-top: 12px;
}

.section-12 .accordion-item .accordion-panel > p {
  width: 1125px;
  padding: 24px;
  word-break: keep-all;
  font-size: 16px;
  font-weight: var(--font-medium);
  color: var(--color-text-01);
  line-height: 1.25;
}

.section-12 .accordion-item .accordion-panel > p > a{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.section-12 .accordion-item .accordion-panel > p > a:last-child {
  margin-bottom: 0px;
}


@media screen and (max-width: 800px) {
  .inner {
    width: 100%;
  }

  .title {
    font-size: 22px;
  }

  .desc {
    font-size: 16px;
  }
  
  header .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header .menu {
    display: none;
  }

  header .apply-btn {
    display: none;
  }

  header .menu-btn {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
  }

  /* section 1 */

  .section-1 .inner {
    padding-top: 40px;
  }
  
  .section-1 .kdc-logo {
    width: 186px;
    height: 18px;
  }
  
  .section-1 .sub-title {
    font-size: 16px;
    margin-top: 24px;
  }

  .section-1 .title {
    font-size: 48px;
  }

  /* hashtag 처리방법 찾기 */

  .section-1 .hashtag {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    gap: 16px;
  }
  
  .section-1 .hashtag > h4 {
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
  }

  .section-1 .btn-wrap {
    margin: 0;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .section-1 .hero-img {
    background: url('./images/kdcLandingHeroImg_mobile.png.png') no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: calc(100vw/2);
    margin: 40px auto 80px;
  }

  /* section 2 */
  .section-2 {
    display: none;
  }

  /* section 3 */

  .section-3 .inner {
    padding: 64px 24px;
  }
  
  .section-3 .desc {
    margin-top: 24px;
    word-break: keep-all;
    line-height: 1.25;
  }

  .section-3 .area-1 .img {
    background: url('./images/kdcLandingArticle_mobile.png') no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: calc(100vw);
    margin: 24px auto 64px;
  }

  .section-3 .area-2 .ex-contents {
    width: 80%;
    flex-direction: column;
    margin: 40px auto 0;
  }
  
  .section-3 .ex-contents .content-wrap {
    padding: 24px 24px;
  }

  .section-3 .ex-contents .content-job {
    font-size: 18px;
  }
  
  .section-3 .ex-contents .content-desc {
    line-height: 1.25;
    font-size: 16px;
  }
  
  .section-3 .ex-contents .content-img {
    width: 100px;
    height: 100px;
  }

  /* section4 */

  .section-4 .inner {
    padding: 64px 24px;
  }

  .section-4 .badge {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .section-4 .badge::after {
    width: 28%;
    height: 12px;
  }

  .section-4 .title {
    margin-bottom: 24px;
  }

  .section-4 .desc {
    margin: 0 auto;
    width: 80%;
    word-break: keep-all;
  }

  .section-4 .vod {
    width: 90%;
    height: calc(88vw/2);
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    margin: 40px auto;
  }

  .section-4 .vod iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .section-4 .recruitment {
    font-size: 16px;
    width: auto;
  }
  
  .section-4 .recruitment ul {
    padding: 24px;
  }
  
  .section-4 .recruitment > ul > li {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
  }
  
  .section-4 .recruitment > ul > li:last-child {
    padding-bottom: 0;
  }
  
  .section-4 .recruitment > ul > li > .course-period {
    display: none;
  }

  /* section 5 */

   .section-5 .left-img {
    background: url('./images/kdcFigureLeft_Mobile.png') no-repeat;
    background-size: contain;
    width: 80px;
    height: 216px;
  }

  .section-5 .right-img {
    background: url('./images/kdcFigureRight_Mobile.png') no-repeat;
    background-size: contain;
    width: 80px;
    height: 216px;
  }

  .section-5 .inner {
    height: 216px;
    padding: 16px 24px;
  }

  .section-5 .title {
    margin: 0;
    margin-top: 24px;
  }

  .section-5 .desc {
    margin: 16px auto 0;
    width: 80%;
  }

  /* section 6 */

  .section-6 .inner {
    padding: 64px 24px;
  }

  .section-6 .desc {
    margin: 16px auto 0;
    word-break: keep-all;
  }

  .section-6 .curriculum .curri-btn-list {
    width: 100%;
    gap: 16px;
  }

  .section-6 .curriculum .curri-btn {
    font-size: 16px;
    height: 40px;
  }

  .section-6 .curriculum .curri-btn.curri-btn.is-active {
    font-size: 16px;
    height: 40px;
  }

  .section-6 .curriculum .curri-detail .curri-title {
    font-size: 18px;
  }

  .section-6 .curriculum .curri-detail .week-detail-list {
    flex-direction: column;
  } 

  /* section 7 */

  .section-7 .inner {
    padding: 64px 24px;
  }

  .section-7 .project-img {
    background: url('./images/kdcLandingProject_Mobile.png') no-repeat;
    background-size: contain;
    background-position: center;
    height: 262px;
    margin-top: 24px;
  }


  .section-7 .projects {
    margin-top: 40px;
  }

  .section-7 .projects .project-1,
  .section-7 .projects .project-2,
  .section-7 .projects .project-3 {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .section-7 .projects .left {
    border-radius: 10px 10px 0 0;
    padding: 24px;
    width: 100%;
  }

  .section-7 .projects .left-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-7 .projects .left .project-num {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .section-7 .projects .left .project-needs {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .section-7 .projects .left .project-name {
    font-size: 18px;
  }

  .section-7 .projects .right {
    border-radius: 0 0 10px 10px;
    padding: 24px;
    width: 100%;
  }

  .section-7 .projects .right .project-desc {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .section-7 .projects .right-wrap>div {
    align-items: center;
    text-align: center;
    font-size: 18px;
  }

  .section-7 .projects .right-wrap .use-case li {
    font-size: 12px;
    padding: 6px 12px 4px 12px;
  }

  /* section 8 */

  .section-8 .inner {
    padding: 64px 24px;
  }

  .section-8 .title {
    margin-bottom: 24px;
  }

  .section-8 .desc {
    color: var(--color-white);
  }

  .section-8 figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-8 figure img {
    width: 80%;
    margin-bottom: 24px;
  }

  .section-8 figure .instructor {
    font-size: 24px;
    text-align: center;
  }

  .section-8 figure .instructor span {
    padding-left: 8px;
    font-size: 20px;
  }

  .section-8 figcaption ul li {
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--color-gray);
    margin-bottom: 8px;
  }

  /* section 9 */

  .section-9 .inner {
    padding: 64px 24px;
  }

  .section-9 .title {
    margin-top: 8px;
  }

  .section-9 .img {
    background: url('./images/kdcLandingComparing_Mobile.png') no-repeat;
    width: 100%;
    background-size: contain;
    background-position: center;
    height: 1000px;
    margin-top: -64px;
  }

  /* section 10 */

  .section-10 .inner {
    padding: 64px 24px;
  }


  .section-10 .recommend-case {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px auto 0;
    width: 100%;
  }

  .section-10 .recommend-case .case-1,
  .section-10 .recommend-case .case-3 {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .section-10 .recommend-case .case-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
  }

  .section-10 .recommend-case .character {
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    width: 120px;
    height: 100px;
  }

  .section-10 .case-1 .character {
    background-image: linear-gradient(180deg, rgba(1, 13, 48, 0) 60%, rgba(1, 13, 48, 1) 83%, rgba(1, 13, 48, 1) 100%), url('/images/kdcLandingCaseP1.png');
    transform: scaleX(-1);
  }

  .section-10 .case-2 .character {
    background-image: linear-gradient(180deg, rgba(1, 13, 48, 0) 60%, rgba(1, 13, 48, 1) 83%, rgba(1, 13, 48, 1) 100%), url('/images/kdcLandingCaseP2.png');
  }

  .section-10 .case-3 .character {
    background-image: linear-gradient(180deg, rgba(1, 13, 48, 0) 60%, rgba(1, 13, 48, 1) 83%, rgba(1, 13, 48, 1) 100%), url('/images/kdcLandingCaseP3.png');
  }

  .section-10 .recommend-case .speech {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: 16px;
    font-weight: var(--font-medium);
    width: 300px;
    height: 56px;
    border-radius: 81px;
  }

  .section-10 .case-2 .speech {
    color: var(--color-black);
  }

  /* section 11 */

  .section-11 .inner {
    padding: 64px 24px;
    position: relative;
  }

  .section-11 .sub-title {
    font-size: 16px;
  }

  .section-11 .title {
    margin-top: 8px;
  }

  .section-11 .swiper {
    margin-top: 40px;
    width: 100%;
  }


  .section-11 .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: var(--color-white);
    width: 288px;
    height: 100%;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    /* box-shadow: 0px 10px 15px #00000029; */
  }

  .section-11 .swiper-button-next,
  .section-11 .swiper-button-prev {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 58%;
    background-color: #9A9A9A;
    border-radius: 100%;
    color: var(--color-white);
  }

  .section-11 .swiper-button-next::after,
  .section-11 .swiper-button-prev::after {
    display: none;
  }

  .section-11 .swiper-button-prev {
    left: -80px;
    display: none;
  }

  .section-11 .swiper-button-next {
    right: -80px;
    display: none;
  }

  .section-11 .swiper-button-prev > svg,
  .section-11 .swiper-button-next > svg {
    width: 32px;
    height: 32px;
  }

  .section-11 .user {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .section-11 .user .user-img-1{
    background-image: url('images/kdcLandingReview1_Web.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80px;
    height: 80px;
  }

  .section-11 .user .user-img-2{
    background-image: url('images/kdcLandingReview2_Web.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 80px;
    height: 80px;
  }

  .section-11 .user .user-img-3{
    background-image: url('images/kdcLandingReview3_Web.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 80px;
    height: 80px;
  }

  .section-11 .user .user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-11 .user .user-info .name{
    font-size: 16px;
    font-weight: var(--font-extrabold);
    color: var(--color-text-01);
    margin-bottom: 8px;
  }

  .section-11 .user .user-info .course{
    font-size: 14px;
    font-weight: var(--font-medium);
    color: var(--color-text-03);
    width: 240px;
  }

  .section-11 .swiper-slide .heading {
    font-size: 18px;
    font-weight: var(--font-heavy);
    color: #394DD1;
    text-align: left;
  }

  .section-11 .swiper-slide .content {
    font-size: 16px;
    font-weight: var(--font-medium);
    color: var(--color-text-02);
    word-break: keep-all;
  }

  /* section 12 */
  .section-12 .inner {
    padding: 80px 24px
  }

  .section-12 .faq-section > h3 {
    font-size: 18px;
  }

  .section-12 .accordion h4 {
    font-size: 16px;
  }
}